/* hack on 6/28/21
 * keeps header from overylaying slide in on mobile */
.Navigation.Navigation--global {
/*    z-index: 1010; */
    z-index: 900;
}
#tiaa-header-background-bar {
    background-color: #6EC1E4;
    width: 100%;
    height: 70px;
    margin: auto;
}
li.tiaa-hottopics.NavigationItem.NavigationItem--main{
    display: none;
}