/*
 * turn the monthly contribution banner is off on mobile portrait (until we get a better graphic?)
 */
 /* mobile adjustments needed for contribute text in the brand header */
 /* Media query for viewport less than ~750px to turn off contribute banner */
 @media (max-width: 726px) {
    .tiaa-contribute-banner {
        display: none; // could use another graphic for this?
    }
}

// buttons shrink on mobile
.tiaa-contribute-banner {
    left: 420px;
}
/* hack on 6/28/21
 * keeps header from overlaying slide in on mobile
 */
.Navigation.Navigation--global {
/*    z-index: 1010; */
    z-index: 900;
}
#tiaa-header-background-bar {
    background-color: #6EC1E4;
 width: 100vw;
  padding: 0;
    height: 60px;
    margin: auto;
}
.tiaa-head-buttons {
    scale: 75%;
    position: absolute;
    left: -30px;
}
