/*
 * turn the monthly contribution banner is off on mobile portrait (until we get a better graphic?)
 */
 /* mobile adjustments needed for contribute text in the brand header */
 /* Media query for viewport less than 900px to turn off contribute banner */
 @media (max-width: 900px) {
    #tiaa-contribute-banner {
        display: none; // could use another graphic for this?
    }
}
.tiaa-contribute-image-div {
    position: relative;
    right: -600px;
}
#tiaa-contribute-banner {
    right: 140px;
}
/* hack on 6/28/21
 * keeps header from overlaying slide in on mobile
 */
.Navigation.Navigation--global {
/*    z-index: 1010; */
    z-index: 900;
}
#tiaa-header-background-bar {
    background-color: #6EC1E4;
 width: 100vw;
  padding: 0;
    height: 60px;
    margin: auto;
}
.tiaa-head-buttons {
    scale: 75%;
    position: absolute;
    left: -30px;
}
@media (max-width: 500px) {
    li.tiaa-hottopics.NavigationItem.NavigationItem--main{
        display: none;
    }
}




