/* tiaa blue bar brand header */
.tiaa-brand-header-bar {
    position: relative;
}

/* added 6/23/24 for contribute banner */
/* contribute banner image */
.tiaa-contribute-image-div {
    background-image: url($TIAA-contribute-type-outlines);
    background-size: cover;
    display: block;
//    display: none; 
    align-items: center;
    height: 65px;
    width: auto;
}
/* toggle the contribute banner based on logged on state */

html.anon #tiaa-contribute-banner { 
/* #tiaa-contribute-banner { */
    display: none;
}
/* get rid of inherited styles on anchor tag */
#tiaa-contribute-banner {
    all: unset; /* Clears all existing styles */
    position: absolute;
    right: 2px;
    display: inline-block; /* Ensures the anchor tag covers the entire area of its child elements */
    cursor: pointer; /* Ensures the cursor changes to a pointer when hovering over the link */
    text-decoration: none; /* Removes any text decoration (underline) */
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}

@if $display_contribute_banner == "false" {
    #tiaa-contribute-banner {
        display: none;
    }
}
/* tiaa-contrib-button id sets color of the contribute button on the header */

#tiaa-contrib-button {
    background: $contribute_button_color;
    color: $contribute_text_color; // white is a better text color except for yellow...
}
/* don't display admin and site information if not logged in */
.html.anon li.nav-item-about {
    display: none;
}
/* toggle the header based on logged on state */
html.anon #tiaa-header-loggedon {
    display: none;
}
html.anon #tiaa-header-loggedoff {
    display: block;
}
html:not(.anon) #tiaa-header-loggedon {
    display: block;

}
html:not(.anon) #tiaa-header-loggedoff {
    display: none;
}
/* header style lifted from twittercommunity.com */
.Navigation.Navigation--global {
/*    font-family: Helvetica, Arial, sans-serif; */
    height: 48px;
    position: relative;
    width: 100%;
    z-index: 888;
}
.Navigation.Navigation--global {
    z-index: 999;
}
.Navigation.Navigation--global .Navigation-inner {
/*    max-width: 1110px; */
}
.tiaa-head-buttons {
    font-family: Antonio, Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 0px;
    margin-left: 0px;
}
.Navigation.Navigation--global .Navigation-inner {
    height: 48px;
/*    margin: 0 auto; 
    max-width: 990px; */
    position: relative;
}
.Navigation.Navigation--global .Navigation-inner-list.Navigation-inner-list--breadcrumb {
    float: left;
}
.Navigation.Navigation--global .Navigation-inner-item, .Navigation.Navigation--global .Navigation-inner-list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.Navigation.Navigation--global .NavigationItem {
    display: inline-block;
}

.NavigationItem {
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
    position: relative;
    vertical-align: top;
    /* z-index of forum header is 1000 so we want navigation popdown over that */
    z-index: 999;
}

.NavigationItem.NavigationItem--main:before {
/*    content: '/'; */
    content: ' '; 
    color: white;
    font-size: 26px;
    font-weight: 600;
    left: -4px;
    opacity: 1;
    position: absolute;
    top: 12px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
.NavigationItem:after {
/*    background-color: #7950C1; */
    background-color: #203386; 
    color: white;
    content: ' ';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    width: 100%;
    z-index: -1;
}
.NavigationItem .NavigationItem-link {
    display: block;
    color: white;
    padding: 12px 15px;
    text-decoration: none;
}
/* used for logo image */
.NavigationItem .NavigationItem-link-nobg {
    display: block;
    padding: 0px 0px;
    background-color: white;
}

.NavigationItem.NavigationItem--main .Navigation--sub {
    left: -36px;
}
.NavigationItem.NavigationItem--main .Navigation--sub {
/*    border-top-left-radius: 0px; */
    left: -10px;
}
.Navigation.Navigation--sub {
    background-color: #FFF;
    list-style: none;
    padding: 6px 0 0;
    position: absolute;
    top: 48px;
    z-index: 998;
}
.NavigationItem .Navigation--sub {
    display: none;
}
.Navigation.Navigation--global .NavigationItem .NavigationItem--sub .NavigationItem-link {
    padding-left: 25px;
}
.NavigationItem.NavigationItem--sub .NavigationItem-link {
/*    color: #7950C1; */
    color: #232323;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    width: 75px;
}
.NavigationItem .NavigationItem--sub .NavigationItem-link {
    padding-left: 25px;
}
.NavigationItem .NavigationItem-link {
    display: block;
    color: white;
    padding: 12px 15px;
    text-decoration: none;
}
.NavigationItem.NavigationItem--sub {
    margin-bottom: 6px;
}
.NavigationItem:hover { 
    transform: scale(0.8);
    transition: transform 0.7s ease;
}
.NavigationItem .NavigationItem-link:hover {
    background-color: #203386;
    color: yellow;
}
#tiaa-contrib-button:hover {
    color: yellow;
}
.NavigationItem--withChildren:hover .Navigation--sub {
    display: block;
}
/* keeps header from overylaying new post popup on mobile */
.Navigation.Navigation--global {
    z-index: 999;
}
